@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;

}

body{
    background-color: white;
}

#nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 80px;
}

#nav-bar a{
    text-decoration: none;
    color: #3E366C;
    font-weight: 500px;
    font-size: 18px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;}

#content-nav a {
    color:#3E366C;
    margin-left: 130px;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    z-index:1;
    font-family: 'Baloo Bhaijaan 2', sans-serif;}

#content-nav a:hover{
    border-bottom: 2px solid #54bbbd ;
    -webkit-transition: all .1s;
    -moz-transition: all .10s;
    transition: all .10s;
    z-index:1;
    padding-bottom: 5px;    
}
#content-nav a:hover::after{
    transition: 0.5s;
}
 #logo1{
    height: 5vh; 

}

.allcards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    direction: rtl;
    margin: 20vh;

}
.card{
    width: 60vh;
    height: 25vh;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 20px;

}

h2{
    margin: 10px;
    font-size: 18px;
    width: 180px;
    
}

h4{
    margin: 10px;
}

p{
    margin: 10px;
    margin-top: 10px;
}
button{
    margin: 10px;
    width: 60px;
    height: 34px;
    background-color: #4e3797;
    border: 1px solid #4e3797;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.4s;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
} 
button:hover{
    background-color: white;
    color: #4e3797;
    transition: 0.4s;
}

